In [1]:
import pandas as pd
from utils import snowflake_login
from datetime import datetime, timedelta

In [2]:
user, cursor, snow = snowflake_login()

Intento 1
Correct Password - connected to SNOWFLAKE

In [3]:
#Aramamos listado de fechas
fechas = []
for i in range((datetime.today().replace(year=datetime.today().date().year + 1).date() -
                datetime.today().date()).days):
    fechas.append("'" + (datetime.today().date()
                         + timedelta(days=i)).strftime('%Y-%m-%d') + "'")
fechas

["'2025-12-17'",
 "'2025-12-18'",
 "'2025-12-19'",
 "'2025-12-20'",
 "'2025-12-21'",
 "'2025-12-22'",
 "'2025-12-23'",
 "'2025-12-24'",
 "'2025-12-25'",
 "'2025-12-26'",
 "'2025-12-27'",
 "'2025-12-28'",
 "'2025-12-29'",
 "'2025-12-30'",
 "'2025-12-31'",
 "'2026-01-01'",
 "'2026-01-02'",
 "'2026-01-03'",
 "'2026-01-04'",
 "'2026-01-05'",
 "'2026-01-06'",
 "'2026-01-07'",
 "'2026-01-08'",
 "'2026-01-09'",
 "'2026-01-10'",
 "'2026-01-11'",
 "'2026-01-12'",
 "'2026-01-13'",
 "'2026-01-14'",
 "'2026-01-15'",
 "'2026-01-16'",
 "'2026-01-17'",
 "'2026-01-18'",
 "'2026-01-19'",
 "'2026-01-20'",
 "'2026-01-21'",
 "'2026-01-22'",
 "'2026-01-23'",
 "'2026-01-24'",
 "'2026-01-25'",
 "'2026-01-26'",
 "'2026-01-27'",
 "'2026-01-28'",
 "'2026-01-29'",
 "'2026-01-30'",
 "'2026-01-31'",
 "'2026-02-01'",
 "'2026-02-02'",
 "'2026-02-03'",
 "'2026-02-04'",
 "'2026-02-05'",
 "'2026-02-06'",
 "'2026-02-07'",
 "'2026-02-08'",
 "'2026-02-09'",
 "'2026-02-10'",
 "'2026-02-11'",
 "'2026-02-12'",
 "'2026-02-13'",
 "'2026-02-14'",
 "'2026-02-15'",
 "'2026-02-16'",
 "'2026-02-17'",
 "'2026-02-18'",
 "'2026-02-19'",
 "'2026-02-20'",
 "'2026-02-21'",
 "'2026-02-22'",
 "'2026-02-23'",
 "'2026-02-24'",
 "'2026-02-25'",
 "'2026-02-26'",
 "'2026-02-27'",
 "'2026-02-28'",
 "'2026-03-01'",
 "'2026-03-02'",
 "'2026-03-03'",
 "'2026-03-04'",
 "'2026-03-05'",
 "'2026-03-06'",
 "'2026-03-07'",
 "'2026-03-08'",
 "'2026-03-09'",
 "'2026-03-10'",
 "'2026-03-11'",
 "'2026-03-12'",
 "'2026-03-13'",
 "'2026-03-14'",
 "'2026-03-15'",
 "'2026-03-16'",
 "'2026-03-17'",
 "'2026-03-18'",
 "'2026-03-19'",
 "'2026-03-20'",
 "'2026-03-21'",
 "'2026-03-22'",
 "'2026-03-23'",
 "'2026-03-24'",
 "'2026-03-25'",
 "'2026-03-26'",
 "'2026-03-27'",
 "'2026-03-28'",
 "'2026-03-29'",
 "'2026-03-30'",
 "'2026-03-31'",
 "'2026-04-01'",
 "'2026-04-02'",
 "'2026-04-03'",
 "'2026-04-04'",
 "'2026-04-05'",
 "'2026-04-06'",
 "'2026-04-07'",
 "'2026-04-08'",
 "'2026-04-09'",
 "'2026-04-10'",
 "'2026-04-11'",
 "'2026-04-12'",
 "'2026-04-13'",
 "'2026-04-14'",
 "'2026-04-15'",
 "'2026-04-16'",
 "'2026-04-17'",
 "'2026-04-18'",
 "'2026-04-19'",
 "'2026-04-20'",
 "'2026-04-21'",
 "'2026-04-22'",
 "'2026-04-23'",
 "'2026-04-24'",
 "'2026-04-25'",
 "'2026-04-26'",
 "'2026-04-27'",
 "'2026-04-28'",
 "'2026-04-29'",
 "'2026-04-30'",
 "'2026-05-01'",
 "'2026-05-02'",
 "'2026-05-03'",
 "'2026-05-04'",
 "'2026-05-05'",
 "'2026-05-06'",
 "'2026-05-07'",
 "'2026-05-08'",
 "'2026-05-09'",
 "'2026-05-10'",
 "'2026-05-11'",
 "'2026-05-12'",
 "'2026-05-13'",
 "'2026-05-14'",
 "'2026-05-15'",
 "'2026-05-16'",
 "'2026-05-17'",
 "'2026-05-18'",
 "'2026-05-19'",
 "'2026-05-20'",
 "'2026-05-21'",
 "'2026-05-22'",
 "'2026-05-23'",
 "'2026-05-24'",
 "'2026-05-25'",
 "'2026-05-26'",
 "'2026-05-27'",
 "'2026-05-28'",
 "'2026-05-29'",
 "'2026-05-30'",
 "'2026-05-31'",
 "'2026-06-01'",
 "'2026-06-02'",
 "'2026-06-03'",
 "'2026-06-04'",
 "'2026-06-05'",
 "'2026-06-06'",
 "'2026-06-07'",
 "'2026-06-08'",
 "'2026-06-09'",
 "'2026-06-10'",
 "'2026-06-11'",
 "'2026-06-12'",
 "'2026-06-13'",
 "'2026-06-14'",
 "'2026-06-15'",
 "'2026-06-16'",
 "'2026-06-17'",
 "'2026-06-18'",
 "'2026-06-19'",
 "'2026-06-20'",
 "'2026-06-21'",
 "'2026-06-22'",
 "'2026-06-23'",
 "'2026-06-24'",
 "'2026-06-25'",
 "'2026-06-26'",
 "'2026-06-27'",
 "'2026-06-28'",
 "'2026-06-29'",
 "'2026-06-30'",
 "'2026-07-01'",
 "'2026-07-02'",
 "'2026-07-03'",
 "'2026-07-04'",
 "'2026-07-05'",
 "'2026-07-06'",
 "'2026-07-07'",
 "'2026-07-08'",
 "'2026-07-09'",
 "'2026-07-10'",
 "'2026-07-11'",
 "'2026-07-12'",
 "'2026-07-13'",
 "'2026-07-14'",
 "'2026-07-15'",
 "'2026-07-16'",
 "'2026-07-17'",
 "'2026-07-18'",
 "'2026-07-19'",
 "'2026-07-20'",
 "'2026-07-21'",
 "'2026-07-22'",
 "'2026-07-23'",
 "'2026-07-24'",
 "'2026-07-25'",
 "'2026-07-26'",
 "'2026-07-27'",
 "'2026-07-28'",
 "'2026-07-29'",
 "'2026-07-30'",
 "'2026-07-31'",
 "'2026-08-01'",
 "'2026-08-02'",
 "'2026-08-03'",
 "'2026-08-04'",
 "'2026-08-05'",
 "'2026-08-06'",
 "'2026-08-07'",
 "'2026-08-08'",
 "'2026-08-09'",
 "'2026-08-10'",
 "'2026-08-11'",
 "'2026-08-12'",
 "'2026-08-13'",
 "'2026-08-14'",
 "'2026-08-15'",
 "'2026-08-16'",
 "'2026-08-17'",
 "'2026-08-18'",
 "'2026-08-19'",
 "'2026-08-20'",
 "'2026-08-21'",
 "'2026-08-22'",
 "'2026-08-23'",
 "'2026-08-24'",
 "'2026-08-25'",
 "'2026-08-26'",
 "'2026-08-27'",
 "'2026-08-28'",
 "'2026-08-29'",
 "'2026-08-30'",
 "'2026-08-31'",
 "'2026-09-01'",
 "'2026-09-02'",
 "'2026-09-03'",
 "'2026-09-04'",
 "'2026-09-05'",
 "'2026-09-06'",
 "'2026-09-07'",
 "'2026-09-08'",
 "'2026-09-09'",
 "'2026-09-10'",
 "'2026-09-11'",
 "'2026-09-12'",
 "'2026-09-13'",
 "'2026-09-14'",
 "'2026-09-15'",
 "'2026-09-16'",
 "'2026-09-17'",
 "'2026-09-18'",
 "'2026-09-19'",
 "'2026-09-20'",
 "'2026-09-21'",
 "'2026-09-22'",
 "'2026-09-23'",
 "'2026-09-24'",
 "'2026-09-25'",
 "'2026-09-26'",
 "'2026-09-27'",
 "'2026-09-28'",
 "'2026-09-29'",
 "'2026-09-30'",
 "'2026-10-01'",
 "'2026-10-02'",
 "'2026-10-03'",
 "'2026-10-04'",
 "'2026-10-05'",
 "'2026-10-06'",
 "'2026-10-07'",
 "'2026-10-08'",
 "'2026-10-09'",
 "'2026-10-10'",
 "'2026-10-11'",
 "'2026-10-12'",
 "'2026-10-13'",
 "'2026-10-14'",
 "'2026-10-15'",
 "'2026-10-16'",
 "'2026-10-17'",
 "'2026-10-18'",
 "'2026-10-19'",
 "'2026-10-20'",
 "'2026-10-21'",
 "'2026-10-22'",
 "'2026-10-23'",
 "'2026-10-24'",
 "'2026-10-25'",
 "'2026-10-26'",
 "'2026-10-27'",
 "'2026-10-28'",
 "'2026-10-29'",
 "'2026-10-30'",
 "'2026-10-31'",
 "'2026-11-01'",
 "'2026-11-02'",
 "'2026-11-03'",
 "'2026-11-04'",
 "'2026-11-05'",
 "'2026-11-06'",
 "'2026-11-07'",
 "'2026-11-08'",
 "'2026-11-09'",
 "'2026-11-10'",
 "'2026-11-11'",
 "'2026-11-12'",
 "'2026-11-13'",
 "'2026-11-14'",
 "'2026-11-15'",
 "'2026-11-16'",
 "'2026-11-17'",
 "'2026-11-18'",
 "'2026-11-19'",
 "'2026-11-20'",
 "'2026-11-21'",
 "'2026-11-22'",
 "'2026-11-23'",
 "'2026-11-24'",
 "'2026-11-25'",
 "'2026-11-26'",
 "'2026-11-27'",
 "'2026-11-28'",
 "'2026-11-29'",
 "'2026-11-30'",
 "'2026-12-01'",
 "'2026-12-02'",
 "'2026-12-03'",
 "'2026-12-04'",
 "'2026-12-05'",
 "'2026-12-06'",
 "'2026-12-07'",
 "'2026-12-08'",
 "'2026-12-09'",
 "'2026-12-10'",
 "'2026-12-11'",
 "'2026-12-12'",
 "'2026-12-13'",
 "'2026-12-14'",
 "'2026-12-15'",
 "'2026-12-16'"]

In [4]:
if datetime.strptime(fechas[0].strip("'"), "%Y-%m-%d") < datetime.strptime(fechas[1].strip("'"), "%Y-%m-%d"):
    print(fechas[0], fechas[1])

'2025-11-13' '2025-11-14'

In [53]:
evento = pd.read_excel('FECHAS FT PROMO.xlsx')
evento.columns = evento.columns.str.upper()
evento.columns = evento.columns.str.strip()
evento

      LOCAL        ITEM
0       173  1000555601
1       323  1000555601
2       157  1000555601
3       321  1000555601
4       326  1000555601
...     ...         ...
3066    331  1000496117
3067    166  1000496117
3068    159  1000496117
3069    377  1000496117
3070    379  1000496117

[3071 rows x 2 columns]

In [54]:
cols = {'ITEM':'ORIN', 'LOCAL':'GEOG_LOCL_COD', 'LOCALES':'GEOG_LOCL_COD', 'EVENTO':'EVENTO_ID'}

In [55]:
evento.rename(columns=cols, inplace=True)

In [56]:
evento.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3071 entries, 0 to 3070
Data columns (total 2 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   GEOG_LOCL_COD  3071 non-null   int64
 1   ORIN           3071 non-null   int64
dtypes: int64(2)
memory usage: 48.1 KB

In [57]:
if 'GEOG_LOCL_COD' in evento.columns:
    if 'EVENTO_ID' in evento.columns:
        evento = evento[['ORIN', 'GEOG_LOCL_COD', 'EVENTO_ID']].drop_duplicates().astype('str')
    else:
        evento = evento[['ORIN', 'GEOG_LOCL_COD']].drop_duplicates().astype('str')
else:
    evento = evento[['ORIN']].drop_duplicates()
    evento['aux'] = 1
    locales = pd.read_excel('LOCALES.xlsx')
    locales['aux'] = 1
    evento = evento.merge(locales).drop(columns='aux').astype('str')
evento

            ORIN GEOG_LOCL_COD
0     1000555601           173
1     1000555601           323
2     1000555601           157
3     1000555601           321
4     1000555601           326
...          ...           ...
3066  1000496117           331
3067  1000496117           166
3068  1000496117           159
3069  1000496117           377
3070  1000496117           379

[3071 rows x 2 columns]

In [58]:
evento['GEOG_LOCL_COD'] = evento['GEOG_LOCL_COD'].str.replace(';', ',')
evento

            ORIN GEOG_LOCL_COD
0     1000555601           173
1     1000555601           323
2     1000555601           157
3     1000555601           321
4     1000555601           326
...          ...           ...
3066  1000496117           331
3067  1000496117           166
3068  1000496117           159
3069  1000496117           377
3070  1000496117           379

[3071 rows x 2 columns]

In [59]:
evento['GEOG_LOCL_COD'] = evento['GEOG_LOCL_COD'].str.split(',')
evento

            ORIN GEOG_LOCL_COD
0     1000555601         [173]
1     1000555601         [323]
2     1000555601         [157]
3     1000555601         [321]
4     1000555601         [326]
...          ...           ...
3066  1000496117         [331]
3067  1000496117         [166]
3068  1000496117         [159]
3069  1000496117         [377]
3070  1000496117         [379]

[3071 rows x 2 columns]

In [60]:
evento = evento.explode(column='GEOG_LOCL_COD')
evento

            ORIN GEOG_LOCL_COD
0     1000555601           173
1     1000555601           323
2     1000555601           157
3     1000555601           321
4     1000555601           326
...          ...           ...
3066  1000496117           331
3067  1000496117           166
3068  1000496117           159
3069  1000496117           377
3070  1000496117           379

[3071 rows x 2 columns]

In [61]:
evento.info()

<class 'pandas.core.frame.DataFrame'>
Index: 3071 entries, 0 to 3070
Data columns (total 2 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   ORIN           3071 non-null   object
 1   GEOG_LOCL_COD  3071 non-null   object
dtypes: object(2)
memory usage: 72.0+ KB

In [62]:
evento['GEOG_LOCL_COD'] = evento['GEOG_LOCL_COD'].str.strip()
evento['ORIN'] = evento['ORIN'].str.strip()
evento

            ORIN GEOG_LOCL_COD
0     1000555601           173
1     1000555601           323
2     1000555601           157
3     1000555601           321
4     1000555601           326
...          ...           ...
3066  1000496117           331
3067  1000496117           166
3068  1000496117           159
3069  1000496117           377
3070  1000496117           379

[3071 rows x 2 columns]

In [40]:
def limpLoc (l:str):
    if len(l) == 3:
        return l
    else:
        return pd.NA

In [41]:
evento['GEOG_LOCL_COD'] = evento['GEOG_LOCL_COD'].apply(limpLoc)
evento[evento['GEOG_LOCL_COD'].isna()]

Empty DataFrame
Columns: [ORIN, GEOG_LOCL_COD]
Index: []

In [42]:
evento.dropna(inplace=True)
evento[evento['GEOG_LOCL_COD'].isna()]

Empty DataFrame
Columns: [ORIN, GEOG_LOCL_COD]
Index: []

In [17]:
cursor.execute('SELECT ARTC_ARTC_COD, ORIN FROM MSTRDB.DWH.LU_ARTC_ARTICULO;')
art = cursor.fetch_pandas_all().astype('str')
art

       ARTC_ARTC_COD        ORIN
0          085032000        None
1          085028000        None
2          244355000        None
3          244346000        None
4          244336000        None
...              ...         ...
307361     082905019  1000469648
307362     051202506  1000500936
307363     082905020  1000469649
307364     082905016  1000469645
307365     130628000  1000131757

[307366 rows x 2 columns]

In [18]:
art.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 307366 entries, 0 to 307365
Data columns (total 2 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   ARTC_ARTC_COD  307366 non-null  object
 1   ORIN           307366 non-null  object
dtypes: object(2)
memory usage: 4.7+ MB

In [63]:
evento = evento.merge(art)
evento

            ORIN GEOG_LOCL_COD ARTC_ARTC_COD
0     1000555601           173     353488000
1     1000555601           323     353488000
2     1000555601           157     353488000
3     1000555601           321     353488000
4     1000555601           326     353488000
...          ...           ...           ...
3066  1000496117           331     352412000
3067  1000496117           166     352412000
3068  1000496117           159     352412000
3069  1000496117           377     352412000
3070  1000496117           379     352412000

[3071 rows x 3 columns]

In [64]:
evento['PROM_FECHA_INICIO'] = '2025-11-27'
evento['PROM_FECHA_INICIO'] = pd.to_datetime(evento['PROM_FECHA_INICIO'])
evento['PROM_FECHA_FIN'] = '2025-12-08'
evento['PROM_FECHA_FIN'] = pd.to_datetime(evento['PROM_FECHA_FIN'])
evento['EVENTO_ID'] = 2693
evento['PRONOSTICO_VENTA'] = 0
evento['STOCK_INICIAL_PROMO'] = 0
evento['PROM_PVP_OFERTA'] = 0
evento['PROM_LOCAL_ACTIVO'] = 0
evento['PROM_ESTIBA'] = 0
evento

,ORIN,GEOG_LOCL_COD,ARTC_ARTC_COD,PROM_FECHA_INICIO,PROM_FECHA_FIN,EVENTO_ID,PRONOSTICO_VENTA,STOCK_INICIAL_PROMO,PROM_PVP_OFERTA,PROM_LOCAL_ACTIVO,PROM_ESTIBA
0,1000555601,173,353488000,2025-11-27,2025-12-08,2693,0,0,0,0,0
1,1000555601,323,353488000,2025-11-27,2025-12-08,2693,0,0,0,0,0
2,1000555601,157,353488000,2025-11-27,2025-12-08,2693,0,0,0,0,0
3,1000555601,321,353488000,2025-11-27,2025-12-08,2693,0,0,0,0,0
4,1000555601,326,353488000,2025-11-27,2025-12-08,2693,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...
3066,1000496117,331,352412000,2025-11-27,2025-12-08,2693,0,0,0,0,0
3067,1000496117,166,352412000,2025-11-27,2025-12-08,2693,0,0,0,0,0
3068,1000496117,159,352412000,2025-11-27,2025-12-08,2693,0,0,0,0,0
3069,1000496117,377,352412000,2025-11-27,2025-12-08,2693,0,0,0,0,0
3070,1000496117,379,352412000,2025-11-27,2025-12-08,2693,0,0,0,0,0

In [65]:
evento.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3071 entries, 0 to 3070
Data columns (total 11 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   ORIN                 3071 non-null   object
 1   GEOG_LOCL_COD        3071 non-null   object
 2   ARTC_ARTC_COD        3071 non-null   object
 3   PROM_FECHA_INICIO    3071 non-null   datetime64[ns]
 4   PROM_FECHA_FIN       3071 non-null   datetime64[ns]
 5   EVENTO_ID            3071 non-null   int64
 6   PRONOSTICO_VENTA     3071 non-null   int64
 7   STOCK_INICIAL_PROMO  3071 non-null   int64
 8   PROM_PVP_OFERTA      3071 non-null   int64
 9   PROM_LOCAL_ACTIVO    3071 non-null   int64
 10  PROM_ESTIBA          3071 non-null   int64
dtypes: datetime64[ns](2), int64(6), object(3)
memory usage: 264.0+ KB

In [66]:
cursor.execute('''SELECT LAA.ORIN, LAA.ARTC_ARTC_COD, LGL.GEOG_LOCL_COD, LPE.EVENTO_DESC, FP.*
                FROM MSTRDB.DWH.FT_PROMOS FP
                JOIN MSTRDB.DWH.LU_GEOG_LOCAL LGL ON LGL.GEOG_LOCL_ID = FP.GEOG_LOCL_ID
                JOIN MSTRDB.DWH.LU_ARTC_ARTICULO LAA ON LAA.ARTC_ARTC_ID = FP.ARTC_ARTC_ID
                JOIN MSTRDB.DWH.LU_PROM_EVENTO LPE ON LPE.EVENTO_ID = FP.EVENTO_ID
                WHERE FP.EVENTO_ID = 2693;''')
evento_viejo = cursor.fetch_pandas_all().astype({'ORIN':'str', 'GEOG_LOCL_COD':'str', 'ARTC_ARTC_COD':'str'})
evento_viejo['PROM_FECHA_INICIO'] = pd.to_datetime(evento_viejo['PROM_FECHA_INICIO'])
evento_viejo['PROM_FECHA_FIN'] = pd.to_datetime(evento_viejo['PROM_FECHA_FIN'])
evento_viejo

,ORIN,ARTC_ARTC_COD,GEOG_LOCL_COD,EVENTO_DESC,PROM_FECHA_INICIO,PROM_FECHA_FIN,ARTC_ARTC_ID,GEOG_LOCL_ID,EVENTO_ID,PRONOSTICO_VENTA,STOCK_INICIAL_PROMO,PROM_PVP_OFERTA,PROM_LOCAL_ACTIVO,PROM_ESTIBA,PROM_COSTO,PROM_SUBEVENTO_ID
0,1000555355,353425000,132,Electro Sale 2025,2025-12-02,2025-12-24,15686791,8,2693,0,0,549.0,1,0,0,NaN
1,1000555355,353425000,376,Electro Sale 2025,2025-12-02,2025-12-24,15686791,142,2693,0,0,549.0,1,0,0,NaN
2,1000555355,353425000,158,Electro Sale 2025,2025-12-02,2025-12-24,15686791,49,2693,0,0,549.0,0,0,0,NaN
3,1000555355,353425000,377,Electro Sale 2025,2025-12-02,2025-12-24,15686791,202,2693,0,0,549.0,1,0,0,NaN
4,1000555355,353425000,331,Electro Sale 2025,2025-12-02,2025-12-24,15686791,98,2693,0,0,549.0,0,0,0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11902,1000496118,352413000,140,Electro Sale 2025,2025-12-02,2025-12-24,753718,11,2693,0,0,129.0,1,0,0,NaN
11903,1000496118,352413000,160,Electro Sale 2025,2025-12-02,2025-12-24,753718,51,2693,0,0,129.0,1,0,0,NaN
11904,1000496118,352413000,324,Electro Sale 2025,2025-12-02,2025-12-24,753718,91,2693,0,0,129.0,1,0,0,NaN
11905,1000496118,352413000,122,Electro Sale 2025,2025-12-02,2025-12-24,753718,33,2693,0,0,129.0,1,0,0,NaN
11906,1000496118,352413000,156,Electro Sale 2025,2025-12-02,2025-12-24,753718,47,2693,0,0,129.0,1,0,0,NaN

In [67]:
evento_viejo.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11907 entries, 0 to 11906
Data columns (total 16 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   ORIN                 11907 non-null  object
 1   ARTC_ARTC_COD        11907 non-null  object
 2   GEOG_LOCL_COD        11907 non-null  object
 3   EVENTO_DESC          11907 non-null  object
 4   PROM_FECHA_INICIO    11907 non-null  datetime64[ns]
 5   PROM_FECHA_FIN       11907 non-null  datetime64[ns]
 6   ARTC_ARTC_ID         11907 non-null  int32
 7   GEOG_LOCL_ID         11907 non-null  int16
 8   EVENTO_ID            11907 non-null  int16
 9   PRONOSTICO_VENTA     11907 non-null  int32
 10  STOCK_INICIAL_PROMO  11907 non-null  int16
 11  PROM_PVP_OFERTA      11907 non-null  float64
 12  PROM_LOCAL_ACTIVO    11907 non-null  int8
 13  PROM_ESTIBA          11907 non-null  int8
 14  PROM_COSTO           11907 non-null  int8
 15  PROM_SUBEVENTO_ID    0 non-null      float64
dtypes: datetime64[ns](2), float64(2), int16(3), int32(2), int8(3), object(4)
memory usage: 942.0+ KB

In [68]:
evento = pd.concat([evento, evento_viejo], ignore_index=True)
evento.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14978 entries, 0 to 14977
Data columns (total 16 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   ORIN                 14978 non-null  object
 1   GEOG_LOCL_COD        14978 non-null  object
 2   ARTC_ARTC_COD        14978 non-null  object
 3   PROM_FECHA_INICIO    14978 non-null  datetime64[ns]
 4   PROM_FECHA_FIN       14978 non-null  datetime64[ns]
 5   EVENTO_ID            14978 non-null  int64
 6   PRONOSTICO_VENTA     14978 non-null  int64
 7   STOCK_INICIAL_PROMO  14978 non-null  int64
 8   PROM_PVP_OFERTA      14978 non-null  float64
 9   PROM_LOCAL_ACTIVO    14978 non-null  int64
 10  PROM_ESTIBA          14978 non-null  int64
 11  EVENTO_DESC          11907 non-null  object
 12  ARTC_ARTC_ID         11907 non-null  float64
 13  GEOG_LOCL_ID         11907 non-null  float64
 14  PROM_COSTO           11907 non-null  float64
 15  PROM_SUBEVENTO_ID    0 non-null      float64
dtypes: datetime64[ns](2), float64(5), int64(5), object(4)
memory usage: 1.8+ MB

In [69]:
evento_final = evento[['PROM_FECHA_INICIO', 'PROM_FECHA_FIN', 'ARTC_ARTC_COD', 'EVENTO_ID', 'PRONOSTICO_VENTA',
                       'STOCK_INICIAL_PROMO', 'GEOG_LOCL_COD', 'PROM_PVP_OFERTA', 'PROM_LOCAL_ACTIVO', 'PROM_ESTIBA',
                       'ORIN']].astype({'ARTC_ARTC_COD':'str', 'GEOG_LOCL_COD':'str', 'ORIN':'str'})
evento_final

,PROM_FECHA_INICIO,PROM_FECHA_FIN,ARTC_ARTC_COD,EVENTO_ID,PRONOSTICO_VENTA,STOCK_INICIAL_PROMO,GEOG_LOCL_COD,PROM_PVP_OFERTA,PROM_LOCAL_ACTIVO,PROM_ESTIBA,ORIN
0,2025-11-27,2025-12-08,353488000,2693,0,0,173,0.0,0,0,1000555601
1,2025-11-27,2025-12-08,353488000,2693,0,0,323,0.0,0,0,1000555601
2,2025-11-27,2025-12-08,353488000,2693,0,0,157,0.0,0,0,1000555601
3,2025-11-27,2025-12-08,353488000,2693,0,0,321,0.0,0,0,1000555601
4,2025-11-27,2025-12-08,353488000,2693,0,0,326,0.0,0,0,1000555601
...,...,...,...,...,...,...,...,...,...,...,...
14973,2025-12-02,2025-12-24,352413000,2693,0,0,140,129.0,1,0,1000496118
14974,2025-12-02,2025-12-24,352413000,2693,0,0,160,129.0,1,0,1000496118
14975,2025-12-02,2025-12-24,352413000,2693,0,0,324,129.0,1,0,1000496118
14976,2025-12-02,2025-12-24,352413000,2693,0,0,122,129.0,1,0,1000496118
14977,2025-12-02,2025-12-24,352413000,2693,0,0,156,129.0,1,0,1000496118

In [70]:
evento_final.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14978 entries, 0 to 14977
Data columns (total 11 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   PROM_FECHA_INICIO    14978 non-null  datetime64[ns]
 1   PROM_FECHA_FIN       14978 non-null  datetime64[ns]
 2   ARTC_ARTC_COD        14978 non-null  object
 3   EVENTO_ID            14978 non-null  int64
 4   PRONOSTICO_VENTA     14978 non-null  int64
 5   STOCK_INICIAL_PROMO  14978 non-null  int64
 6   GEOG_LOCL_COD        14978 non-null  object
 7   PROM_PVP_OFERTA      14978 non-null  float64
 8   PROM_LOCAL_ACTIVO    14978 non-null  int64
 9   PROM_ESTIBA          14978 non-null  int64
 10  ORIN                 14978 non-null  object
dtypes: datetime64[ns](2), float64(1), int64(5), object(3)
memory usage: 1.3+ MB

In [71]:
evento_final.to_csv('G:/Unidades compartidas/Inteligencia de Negocio/Promos/Eventos adhoc/Evento adhoc 3.csv')

In [47]:
evento[~evento['ORIN'].isin(evento_final['ORIN'].unique())]['ORIN'].unique()

array([], dtype=object)