In [1]:
import pandas as pd
from utils import snowflake_login
from datetime import datetime, timedelta

In [2]:
user, cursor, snow = snowflake_login()

Intento 1
Correct Password - connected to SNOWFLAKE

In [3]:
#Aramamos listado de fechas
fechas = []
for i in range((datetime.today().replace(year=datetime.today().date().year + 1).date() -
                datetime.today().date()).days):
    fechas.append("'" + (datetime.today().date()
                         + timedelta(days=i)).strftime('%Y-%m-%d') + "'")
fechas

["'2025-11-13'",
 "'2025-11-14'",
 "'2025-11-15'",
 "'2025-11-16'",
 "'2025-11-17'",
 "'2025-11-18'",
 "'2025-11-19'",
 "'2025-11-20'",
 "'2025-11-21'",
 "'2025-11-22'",
 "'2025-11-23'",
 "'2025-11-24'",
 "'2025-11-25'",
 "'2025-11-26'",
 "'2025-11-27'",
 "'2025-11-28'",
 "'2025-11-29'",
 "'2025-11-30'",
 "'2025-12-01'",
 "'2025-12-02'",
 "'2025-12-03'",
 "'2025-12-04'",
 "'2025-12-05'",
 "'2025-12-06'",
 "'2025-12-07'",
 "'2025-12-08'",
 "'2025-12-09'",
 "'2025-12-10'",
 "'2025-12-11'",
 "'2025-12-12'",
 "'2025-12-13'",
 "'2025-12-14'",
 "'2025-12-15'",
 "'2025-12-16'",
 "'2025-12-17'",
 "'2025-12-18'",
 "'2025-12-19'",
 "'2025-12-20'",
 "'2025-12-21'",
 "'2025-12-22'",
 "'2025-12-23'",
 "'2025-12-24'",
 "'2025-12-25'",
 "'2025-12-26'",
 "'2025-12-27'",
 "'2025-12-28'",
 "'2025-12-29'",
 "'2025-12-30'",
 "'2025-12-31'",
 "'2026-01-01'",
 "'2026-01-02'",
 "'2026-01-03'",
 "'2026-01-04'",
 "'2026-01-05'",
 "'2026-01-06'",
 "'2026-01-07'",
 "'2026-01-08'",
 "'2026-01-09'",
 "'2026-01-10'",
 "'2026-01-11'",
 "'2026-01-12'",
 "'2026-01-13'",
 "'2026-01-14'",
 "'2026-01-15'",
 "'2026-01-16'",
 "'2026-01-17'",
 "'2026-01-18'",
 "'2026-01-19'",
 "'2026-01-20'",
 "'2026-01-21'",
 "'2026-01-22'",
 "'2026-01-23'",
 "'2026-01-24'",
 "'2026-01-25'",
 "'2026-01-26'",
 "'2026-01-27'",
 "'2026-01-28'",
 "'2026-01-29'",
 "'2026-01-30'",
 "'2026-01-31'",
 "'2026-02-01'",
 "'2026-02-02'",
 "'2026-02-03'",
 "'2026-02-04'",
 "'2026-02-05'",
 "'2026-02-06'",
 "'2026-02-07'",
 "'2026-02-08'",
 "'2026-02-09'",
 "'2026-02-10'",
 "'2026-02-11'",
 "'2026-02-12'",
 "'2026-02-13'",
 "'2026-02-14'",
 "'2026-02-15'",
 "'2026-02-16'",
 "'2026-02-17'",
 "'2026-02-18'",
 "'2026-02-19'",
 "'2026-02-20'",
 "'2026-02-21'",
 "'2026-02-22'",
 "'2026-02-23'",
 "'2026-02-24'",
 "'2026-02-25'",
 "'2026-02-26'",
 "'2026-02-27'",
 "'2026-02-28'",
 "'2026-03-01'",
 "'2026-03-02'",
 "'2026-03-03'",
 "'2026-03-04'",
 "'2026-03-05'",
 "'2026-03-06'",
 "'2026-03-07'",
 "'2026-03-08'",
 "'2026-03-09'",
 "'2026-03-10'",
 "'2026-03-11'",
 "'2026-03-12'",
 "'2026-03-13'",
 "'2026-03-14'",
 "'2026-03-15'",
 "'2026-03-16'",
 "'2026-03-17'",
 "'2026-03-18'",
 "'2026-03-19'",
 "'2026-03-20'",
 "'2026-03-21'",
 "'2026-03-22'",
 "'2026-03-23'",
 "'2026-03-24'",
 "'2026-03-25'",
 "'2026-03-26'",
 "'2026-03-27'",
 "'2026-03-28'",
 "'2026-03-29'",
 "'2026-03-30'",
 "'2026-03-31'",
 "'2026-04-01'",
 "'2026-04-02'",
 "'2026-04-03'",
 "'2026-04-04'",
 "'2026-04-05'",
 "'2026-04-06'",
 "'2026-04-07'",
 "'2026-04-08'",
 "'2026-04-09'",
 "'2026-04-10'",
 "'2026-04-11'",
 "'2026-04-12'",
 "'2026-04-13'",
 "'2026-04-14'",
 "'2026-04-15'",
 "'2026-04-16'",
 "'2026-04-17'",
 "'2026-04-18'",
 "'2026-04-19'",
 "'2026-04-20'",
 "'2026-04-21'",
 "'2026-04-22'",
 "'2026-04-23'",
 "'2026-04-24'",
 "'2026-04-25'",
 "'2026-04-26'",
 "'2026-04-27'",
 "'2026-04-28'",
 "'2026-04-29'",
 "'2026-04-30'",
 "'2026-05-01'",
 "'2026-05-02'",
 "'2026-05-03'",
 "'2026-05-04'",
 "'2026-05-05'",
 "'2026-05-06'",
 "'2026-05-07'",
 "'2026-05-08'",
 "'2026-05-09'",
 "'2026-05-10'",
 "'2026-05-11'",
 "'2026-05-12'",
 "'2026-05-13'",
 "'2026-05-14'",
 "'2026-05-15'",
 "'2026-05-16'",
 "'2026-05-17'",
 "'2026-05-18'",
 "'2026-05-19'",
 "'2026-05-20'",
 "'2026-05-21'",
 "'2026-05-22'",
 "'2026-05-23'",
 "'2026-05-24'",
 "'2026-05-25'",
 "'2026-05-26'",
 "'2026-05-27'",
 "'2026-05-28'",
 "'2026-05-29'",
 "'2026-05-30'",
 "'2026-05-31'",
 "'2026-06-01'",
 "'2026-06-02'",
 "'2026-06-03'",
 "'2026-06-04'",
 "'2026-06-05'",
 "'2026-06-06'",
 "'2026-06-07'",
 "'2026-06-08'",
 "'2026-06-09'",
 "'2026-06-10'",
 "'2026-06-11'",
 "'2026-06-12'",
 "'2026-06-13'",
 "'2026-06-14'",
 "'2026-06-15'",
 "'2026-06-16'",
 "'2026-06-17'",
 "'2026-06-18'",
 "'2026-06-19'",
 "'2026-06-20'",
 "'2026-06-21'",
 "'2026-06-22'",
 "'2026-06-23'",
 "'2026-06-24'",
 "'2026-06-25'",
 "'2026-06-26'",
 "'2026-06-27'",
 "'2026-06-28'",
 "'2026-06-29'",
 "'2026-06-30'",
 "'2026-07-01'",
 "'2026-07-02'",
 "'2026-07-03'",
 "'2026-07-04'",
 "'2026-07-05'",
 "'2026-07-06'",
 "'2026-07-07'",
 "'2026-07-08'",
 "'2026-07-09'",
 "'2026-07-10'",
 "'2026-07-11'",
 "'2026-07-12'",
 "'2026-07-13'",
 "'2026-07-14'",
 "'2026-07-15'",
 "'2026-07-16'",
 "'2026-07-17'",
 "'2026-07-18'",
 "'2026-07-19'",
 "'2026-07-20'",
 "'2026-07-21'",
 "'2026-07-22'",
 "'2026-07-23'",
 "'2026-07-24'",
 "'2026-07-25'",
 "'2026-07-26'",
 "'2026-07-27'",
 "'2026-07-28'",
 "'2026-07-29'",
 "'2026-07-30'",
 "'2026-07-31'",
 "'2026-08-01'",
 "'2026-08-02'",
 "'2026-08-03'",
 "'2026-08-04'",
 "'2026-08-05'",
 "'2026-08-06'",
 "'2026-08-07'",
 "'2026-08-08'",
 "'2026-08-09'",
 "'2026-08-10'",
 "'2026-08-11'",
 "'2026-08-12'",
 "'2026-08-13'",
 "'2026-08-14'",
 "'2026-08-15'",
 "'2026-08-16'",
 "'2026-08-17'",
 "'2026-08-18'",
 "'2026-08-19'",
 "'2026-08-20'",
 "'2026-08-21'",
 "'2026-08-22'",
 "'2026-08-23'",
 "'2026-08-24'",
 "'2026-08-25'",
 "'2026-08-26'",
 "'2026-08-27'",
 "'2026-08-28'",
 "'2026-08-29'",
 "'2026-08-30'",
 "'2026-08-31'",
 "'2026-09-01'",
 "'2026-09-02'",
 "'2026-09-03'",
 "'2026-09-04'",
 "'2026-09-05'",
 "'2026-09-06'",
 "'2026-09-07'",
 "'2026-09-08'",
 "'2026-09-09'",
 "'2026-09-10'",
 "'2026-09-11'",
 "'2026-09-12'",
 "'2026-09-13'",
 "'2026-09-14'",
 "'2026-09-15'",
 "'2026-09-16'",
 "'2026-09-17'",
 "'2026-09-18'",
 "'2026-09-19'",
 "'2026-09-20'",
 "'2026-09-21'",
 "'2026-09-22'",
 "'2026-09-23'",
 "'2026-09-24'",
 "'2026-09-25'",
 "'2026-09-26'",
 "'2026-09-27'",
 "'2026-09-28'",
 "'2026-09-29'",
 "'2026-09-30'",
 "'2026-10-01'",
 "'2026-10-02'",
 "'2026-10-03'",
 "'2026-10-04'",
 "'2026-10-05'",
 "'2026-10-06'",
 "'2026-10-07'",
 "'2026-10-08'",
 "'2026-10-09'",
 "'2026-10-10'",
 "'2026-10-11'",
 "'2026-10-12'",
 "'2026-10-13'",
 "'2026-10-14'",
 "'2026-10-15'",
 "'2026-10-16'",
 "'2026-10-17'",
 "'2026-10-18'",
 "'2026-10-19'",
 "'2026-10-20'",
 "'2026-10-21'",
 "'2026-10-22'",
 "'2026-10-23'",
 "'2026-10-24'",
 "'2026-10-25'",
 "'2026-10-26'",
 "'2026-10-27'",
 "'2026-10-28'",
 "'2026-10-29'",
 "'2026-10-30'",
 "'2026-10-31'",
 "'2026-11-01'",
 "'2026-11-02'",
 "'2026-11-03'",
 "'2026-11-04'",
 "'2026-11-05'",
 "'2026-11-06'",
 "'2026-11-07'",
 "'2026-11-08'",
 "'2026-11-09'",
 "'2026-11-10'",
 "'2026-11-11'",
 "'2026-11-12'"]

In [4]:
if datetime.strptime(fechas[0].strip("'"), "%Y-%m-%d") < datetime.strptime(fechas[1].strip("'"), "%Y-%m-%d"):
    print(fechas[0], fechas[1])

'2025-11-13' '2025-11-14'

In [48]:
evento = pd.read_excel('explotar jugueteria impo.xlsx')
evento.columns = evento.columns.str.upper()
evento.columns = evento.columns.str.strip()
evento

            ORIN  LOCAL
0     1000561397    115
1     1000561397    162
2     1000561397    316
3     1000561397    143
4     1000561397    126
...          ...    ...
9439  1000568658    198
9440  1000569314    198
9441  1000569325    198
9442  1000467492    198
9443  1000569323    198

[9444 rows x 2 columns]

In [26]:
cols = {'ITEM':'ORIN', 'LOCAL':'GEOG_LOCL_COD', 'LOCALES':'GEOG_LOCL_COD', 'EVENTO':'EVENTO_ID'}

In [27]:
evento.rename(columns=cols, inplace=True)

In [28]:
evento.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9444 entries, 0 to 9443
Data columns (total 2 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   ORIN           9444 non-null   object
 1   GEOG_LOCL_COD  9444 non-null   int64
dtypes: int64(1), object(1)
memory usage: 147.7+ KB

In [29]:
if 'GEOG_LOCL_COD' in evento.columns:
    if 'EVENTO_ID' in evento.columns:
        evento = evento[['ORIN', 'GEOG_LOCL_COD', 'EVENTO_ID']].drop_duplicates().astype('str')
    else:
        evento = evento[['ORIN', 'GEOG_LOCL_COD']].drop_duplicates().astype('str')
else:
    evento = evento[['ORIN']].drop_duplicates()
    evento['aux'] = 1
    locales = pd.read_excel('LOCALES.xlsx')
    locales['aux'] = 1
    evento = evento.merge(locales).drop(columns='aux').astype('str')
evento

            ORIN GEOG_LOCL_COD
0     1000561397           115
1     1000561397           162
2     1000561397           316
3     1000561397           143
4     1000561397           126
...          ...           ...
9439  1000568658           198
9440  1000569314           198
9441  1000569325           198
9442  1000467492           198
9443  1000569323           198

[9444 rows x 2 columns]

In [32]:
evento['GEOG_LOCL_COD'] = evento['GEOG_LOCL_COD'].str.replace(';', ',')
evento

            ORIN GEOG_LOCL_COD
0     1000561397           115
1     1000561397           162
2     1000561397           316
3     1000561397           143
4     1000561397           126
...          ...           ...
9439  1000568658           198
9440  1000569314           198
9441  1000569325           198
9442  1000467492           198
9443  1000569323           198

[9444 rows x 2 columns]

In [33]:
evento['GEOG_LOCL_COD'] = evento['GEOG_LOCL_COD'].str.split(',')
evento

            ORIN GEOG_LOCL_COD
0     1000561397         [115]
1     1000561397         [162]
2     1000561397         [316]
3     1000561397         [143]
4     1000561397         [126]
...          ...           ...
9439  1000568658         [198]
9440  1000569314         [198]
9441  1000569325         [198]
9442  1000467492         [198]
9443  1000569323         [198]

[9444 rows x 2 columns]

In [34]:
evento = evento.explode(column='GEOG_LOCL_COD')
evento

            ORIN GEOG_LOCL_COD
0     1000561397           115
1     1000561397           162
2     1000561397           316
3     1000561397           143
4     1000561397           126
...          ...           ...
9439  1000568658           198
9440  1000569314           198
9441  1000569325           198
9442  1000467492           198
9443  1000569323           198

[9444 rows x 2 columns]

In [35]:
evento.info()

<class 'pandas.core.frame.DataFrame'>
Index: 9444 entries, 0 to 9443
Data columns (total 2 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   ORIN           9444 non-null   object
 1   GEOG_LOCL_COD  9444 non-null   object
dtypes: object(2)
memory usage: 221.3+ KB

In [37]:
evento['GEOG_LOCL_COD'] = evento['GEOG_LOCL_COD'].str.strip()
evento['ORIN'] = evento['ORIN'].str.strip()
evento

            ORIN GEOG_LOCL_COD
0     1000561397           115
1     1000561397           162
2     1000561397           316
3     1000561397           143
4     1000561397           126
...          ...           ...
9439  1000568658           198
9440  1000569314           198
9441  1000569325           198
9442  1000467492           198
9443  1000569323           198

[9444 rows x 2 columns]

In [38]:
def limpLoc (l:str):
    if len(l) == 3:
        return l
    else:
        return pd.NA

In [39]:
evento['GEOG_LOCL_COD'] = evento['GEOG_LOCL_COD'].apply(limpLoc)
evento[evento['GEOG_LOCL_COD'].isna()]

Empty DataFrame
Columns: [ORIN, GEOG_LOCL_COD]
Index: []

In [40]:
evento.dropna(inplace=True)
evento[evento['GEOG_LOCL_COD'].isna()]

Empty DataFrame
Columns: [ORIN, GEOG_LOCL_COD]
Index: []

In [18]:
cursor.execute('SELECT ARTC_ARTC_COD, ORIN FROM MSTRDB.DWH.LU_ARTC_ARTICULO;')
art = cursor.fetch_pandas_all().astype('str')
art

       ARTC_ARTC_COD        ORIN
0          065814134  1000549923
1          083559018  1000551035
2          065742018  1000547978
3          373895442  1000550831
4          373965010  1000552601
...              ...         ...
306788     064028019  1000466381
306789     064107016  1000464885
306790     371305010  1000465120
306791     370718008  1000436977
306792     130628000  1000131757

[306793 rows x 2 columns]

In [19]:
art.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 306793 entries, 0 to 306792
Data columns (total 2 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   ARTC_ARTC_COD  306793 non-null  object
 1   ORIN           306793 non-null  object
dtypes: object(2)
memory usage: 4.7+ MB

In [41]:
evento = evento.merge(art)
evento

            ORIN GEOG_LOCL_COD ARTC_ARTC_COD
0     1000561397           115     192426000
1     1000561397           162     192426000
2     1000561397           316     192426000
3     1000561397           143     192426000
4     1000561397           126     192426000
...          ...           ...           ...
9439  1000568658           198     194072000
9440  1000569314           198     194082000
9441  1000569325           198     194087000
9442  1000467492           198     191055000
9443  1000569323           198     194085000

[9444 rows x 3 columns]

In [42]:
evento['PROM_FECHA_INICIO'] = '2026-01-01'
evento['PROM_FECHA_INICIO'] = pd.to_datetime(evento['PROM_FECHA_INICIO'])
evento['PROM_FECHA_FIN'] = '2026-01-15'
evento['PROM_FECHA_FIN'] = pd.to_datetime(evento['PROM_FECHA_FIN'])
evento['EVENTO_ID'] = 2547
evento['PRONOSTICO_VENTA'] = 0
evento['STOCK_INICIAL_PROMO'] = 0
evento['PROM_PVP_OFERTA'] = 0
evento['PROM_LOCAL_ACTIVO'] = 0
evento['PROM_ESTIBA'] = 0
evento

,ORIN,GEOG_LOCL_COD,ARTC_ARTC_COD,PROM_FECHA_INICIO,PROM_FECHA_FIN,EVENTO_ID,PRONOSTICO_VENTA,STOCK_INICIAL_PROMO,PROM_PVP_OFERTA,PROM_LOCAL_ACTIVO,PROM_ESTIBA
0,1000561397,115,192426000,2026-01-01,2026-01-15,2547,0,0,0,0,0
1,1000561397,162,192426000,2026-01-01,2026-01-15,2547,0,0,0,0,0
2,1000561397,316,192426000,2026-01-01,2026-01-15,2547,0,0,0,0,0
3,1000561397,143,192426000,2026-01-01,2026-01-15,2547,0,0,0,0,0
4,1000561397,126,192426000,2026-01-01,2026-01-15,2547,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...
9439,1000568658,198,194072000,2026-01-01,2026-01-15,2547,0,0,0,0,0
9440,1000569314,198,194082000,2026-01-01,2026-01-15,2547,0,0,0,0,0
9441,1000569325,198,194087000,2026-01-01,2026-01-15,2547,0,0,0,0,0
9442,1000467492,198,191055000,2026-01-01,2026-01-15,2547,0,0,0,0,0
9443,1000569323,198,194085000,2026-01-01,2026-01-15,2547,0,0,0,0,0

In [43]:
evento.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9444 entries, 0 to 9443
Data columns (total 11 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   ORIN                 9444 non-null   object
 1   GEOG_LOCL_COD        9444 non-null   object
 2   ARTC_ARTC_COD        9444 non-null   object
 3   PROM_FECHA_INICIO    9444 non-null   datetime64[ns]
 4   PROM_FECHA_FIN       9444 non-null   datetime64[ns]
 5   EVENTO_ID            9444 non-null   int64
 6   PRONOSTICO_VENTA     9444 non-null   int64
 7   STOCK_INICIAL_PROMO  9444 non-null   int64
 8   PROM_PVP_OFERTA      9444 non-null   int64
 9   PROM_LOCAL_ACTIVO    9444 non-null   int64
 10  PROM_ESTIBA          9444 non-null   int64
dtypes: datetime64[ns](2), int64(6), object(3)
memory usage: 811.7+ KB

In [44]:
evento_final = evento[['PROM_FECHA_INICIO', 'PROM_FECHA_FIN', 'ARTC_ARTC_COD', 'EVENTO_ID', 'PRONOSTICO_VENTA',
                       'STOCK_INICIAL_PROMO', 'GEOG_LOCL_COD', 'PROM_PVP_OFERTA', 'PROM_LOCAL_ACTIVO', 'PROM_ESTIBA',
                       'ORIN']].astype({'ARTC_ARTC_COD':'str', 'GEOG_LOCL_COD':'str', 'ORIN':'str'})
evento_final

,PROM_FECHA_INICIO,PROM_FECHA_FIN,ARTC_ARTC_COD,EVENTO_ID,PRONOSTICO_VENTA,STOCK_INICIAL_PROMO,GEOG_LOCL_COD,PROM_PVP_OFERTA,PROM_LOCAL_ACTIVO,PROM_ESTIBA,ORIN
0,2026-01-01,2026-01-15,192426000,2547,0,0,115,0,0,0,1000561397
1,2026-01-01,2026-01-15,192426000,2547,0,0,162,0,0,0,1000561397
2,2026-01-01,2026-01-15,192426000,2547,0,0,316,0,0,0,1000561397
3,2026-01-01,2026-01-15,192426000,2547,0,0,143,0,0,0,1000561397
4,2026-01-01,2026-01-15,192426000,2547,0,0,126,0,0,0,1000561397
...,...,...,...,...,...,...,...,...,...,...,...
9439,2026-01-01,2026-01-15,194072000,2547,0,0,198,0,0,0,1000568658
9440,2026-01-01,2026-01-15,194082000,2547,0,0,198,0,0,0,1000569314
9441,2026-01-01,2026-01-15,194087000,2547,0,0,198,0,0,0,1000569325
9442,2026-01-01,2026-01-15,191055000,2547,0,0,198,0,0,0,1000467492
9443,2026-01-01,2026-01-15,194085000,2547,0,0,198,0,0,0,1000569323

In [45]:
evento_final.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9444 entries, 0 to 9443
Data columns (total 11 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   PROM_FECHA_INICIO    9444 non-null   datetime64[ns]
 1   PROM_FECHA_FIN       9444 non-null   datetime64[ns]
 2   ARTC_ARTC_COD        9444 non-null   object
 3   EVENTO_ID            9444 non-null   int64
 4   PRONOSTICO_VENTA     9444 non-null   int64
 5   STOCK_INICIAL_PROMO  9444 non-null   int64
 6   GEOG_LOCL_COD        9444 non-null   object
 7   PROM_PVP_OFERTA      9444 non-null   int64
 8   PROM_LOCAL_ACTIVO    9444 non-null   int64
 9   PROM_ESTIBA          9444 non-null   int64
 10  ORIN                 9444 non-null   object
dtypes: datetime64[ns](2), int64(6), object(3)
memory usage: 811.7+ KB

In [46]:
evento_final.to_csv('G:/Unidades compartidas/Inteligencia de Negocio/Promos/Eventos adhoc/Evento adhoc.csv')

In [47]:
evento[~evento['ORIN'].isin(evento_final['ORIN'].unique())]['ORIN'].unique()

array([], dtype=object)